* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #333;
  display: flex;
  justify-content: flex-end;
}

.navbar ul {
  list-style-type: none;
  display: flex;
}

.navbar ul li {
  margin: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.navbar ul li a:hover {
  background-color: #555;
}